<div class="page-header">
  <%= link_to new_event_combat_team_path(@event, @combat, @team), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Team
  <% end %>
  <h1>Listing teams</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Number</th>
            <th>Combat</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @teams) do |team| %>
            <td><%= team.number %></td>
            <td><%= team.combat.name %></td>
            <td><%= link_to 'Show', event_combat_team_path(@event, @combat, team) %></td>
            <td><%= link_to 'Edit', edit_event_combat_team_path(@event, @combat, team) %></td>
            <td><%= link_to 'Destroy', event_combat_team_path(@event, @combat, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
