<div class="page-header">
  <%= link_to new_event_register_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Register
  <% end %>
  <h1>Listing registers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Registrator</th>
            <th>Event</th>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @registers) do |register| %>
            <td><%= register.registrator.id %></td>
            <td><%= register.event.id %></td>
            <td><%= register.name %></td>
            <td><%= link_to 'Show', event_register_path(@event, register) %></td>
        <td><%= link_to 'Edit', edit_event_register_path(@event, register) %></td>
        <td><%= link_to 'Destroy', event_register_path(@event, register), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
