<div class="page-header">
  <%= link_to new_event_register_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Нова заявка
  <% end %>
  <h1>Заявки на змагання</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Реєстратор</th>
        <th>Подія</th>
        <th>Назва</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @registers) do |register| %>
        <td><%= register.user.first_name %> <%= register.user.last_name %></td>
        <td><%= register.event.name %></td>
        <td><%= register.name %></td>
        <td><%= link_to 'Показати', event_register_path(@event, register) %></td>
        <td><%= link_to 'Редагувати', edit_event_register_path(@event, register) %></td>
        <td><%= link_to 'Видалити', event_register_path(@event, register), method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
