<div class="page-header">
  <%= link_to event_registers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_event_register_path(@event, @register), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редагувати
  <% end %>
  <h1>Заявка: <%= @register.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Реєстратор:</dt>
  <dd><%= @register.registrator.last_name %></dd>

  <dt>Подія:</dt>
  <dd><%= @register.event.name %></dd>

</dl>

<h3>Учасники</h3>

<% @people.each_with_index do |person, index| %>
  <p>
    <%= index+1 %> <%= person.full_name%>
  </p>
<% end %>
