<div class="page-header">
  <%= link_to new_person_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Person
  <% end %>
  <h1>Listing people</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Registrator</th>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>Birthday</th>
            <th>Sex</th>
            <th>Kind</th>
            <th>Kind data</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @people) do |person| %>
            <td><%= person.registrator.last_name %></td>
            <td><%= person.first_name %></td>
            <td><%= person.middle_name %></td>
            <td><%= person.last_name %></td>
            <td><%= person.birthday %></td>
            <td><%= person.sex %></td>
            <td><%= person.kind %></td>
            <td><%= person.kind_data %></td>
            <td><%= link_to 'Show', person %></td>
        <td>
          <% if can? :update, person %>
            <%= link_to 'Edit', edit_person_path(person) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, person %>
            <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
