<%= form_for(@student) do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :sex %>
      <%= f.select :sex , [[ "Male" ,'male'] , ["Female" , 'female' ]], { }, { :class => 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :weight %>
      <%= f.number_field :weight, class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :birthday %>
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>


    <%= f.submit "Sign up", class: 'btn btn-primary' %>
<% end %>