<%= form_for(@combat, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @combat.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@combat.errors.count, "error") %> prohibited this combat from being saved:</h4>

      <ul>
      <% @combat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :event, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :event, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :min_rank, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :min_rank, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_age, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :start_age, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_age, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :end_age, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_weight, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :start_weight, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_weight, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :end_weight, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :team, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :team, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sex, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :sex, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
