<div class="page-header">
  <%= link_to new_event_combat_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Combat
  <% end %>
  <h1>Listing combats</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Event</th>
            <th>Name</th>
            <th>Min rank</th>
            <th>Start age</th>
            <th>End age</th>
            <th>Start weight</th>
            <th>End weight</th>
            <th>Team</th>
            <th>Sex</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @combats) do |combat| %>
            <td><%= combat.event.name %></td>
            <td><%= combat.name %></td>
            <td><%= combat.min_rank %></td>
            <td><%= combat.start_age %></td>
            <td><%= combat.end_age %></td>
            <td><%= combat.start_weight %></td>
            <td><%= combat.end_weight %></td>
            <td><%= combat.team %></td>
            <td><%= combat.sex %></td>
            <td><%= link_to 'Show', event_combat_path(@event, combat) %></td>
        <td><%= link_to 'Edit', edit_event_combat_path(@event, combat) %></td>
        <td><%= link_to 'Destroy', event_combat_path(@event, combat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
