<%= ft.label :sportsmen, class: 'col-sm-4 col-md-2 control-label' %>
<div class="col-sm-2 col-md-1">
  <%= ft.number_field :sportsmen, class: 'form-control' %>
</div>

<%= ft.label :judges, class: 'col-sm-4 col-md-2 control-label' %>
<div class="col-sm-2 col-md-1">
  <%= ft.number_field :judges, class: 'form-control' %>
</div>

<%= ft.label :trainers, class: 'col-sm-4 col-md-2 control-label' %>
<div class="col-sm-2 col-md-1">
  <%= ft.number_field :trainers, class: 'form-control' %>
</div>

<%= ft.label :delegates, class: 'col-sm-4 col-md-2 control-label' %>
<div class="col-sm-2 col-md-1">
  <%= ft.number_field :delegates, class: 'form-control' %>
</div>