<div class="user">
  <% if @trainer.id == @current_trainer.id %>
      <%= link_to 'Edit', edit_trainer_registration_path, class: 'btn btn-warning' %>
  <% end %>

  <table class="table">
    <tr>
      <td>Имя: </td>
      <td class="name"><%= @trainer.name %></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td class="name"><%= @trainer.email %></td>
    </tr>
    <tr>
      <td>Кто: </td>
      <td>
        <span class="text-warning"><%= 'Тренер' if @trainer.trainer? %></span>
        <span class="text-success"><%= 'Спортсмен' if @trainer.student? %></span>
      </td>
    </tr>
    <tr>
      <td>Пол: </td>
      <td><%= @trainer.sex %></td>
    </tr>
    <tr>
      <td>Дата рождения: </td>
      <td class="birthday"><%= @trainer.birthday %></td>
    </tr>
    <tr>
      <td>Вес: </td>
      <td class="weight"><%= @trainer.weight %></td>
    </tr>
  </table>

</div>